<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table table-striped">
  <thead>
  <tr>
    <th>STT</th>
    <th>Full Name</th>
    <th>Gender</th>
    <th>Age</th>
    <th>Address</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="s,loop : ${students}">
    <td scope="row" th:text="${loop.count}"></td>
    <td th:text="${s.fullName}"></td>
    <td th:text="${s.gender ? 'Nam' : 'Nữ'}"></td>
    <td th:text="${s.age}"></td>
    <td th:text="${s.address}"></td>
  </tr>
  </tbody>
</table>
</body>
<form action="">
  <div class="form-group">
    <label for=""></label>
    <input type="text"
           class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
  </div>
  <div class="form-group">
    <label for=""></label>
    <input type="text"
           class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
  </div>
  <div class="form-group">
    <label for=""></label>
    <input type="text"
           class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
  </div>
    <label for=""></label>
    <input type="text"
           class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
  </div>
  <div class="form-group">
    <label for=""></label>
    <input type="text"
           class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
  </div>
</form>
</html>